@page
@inject DbModels.SwetuggContext conferenceContext
@{
    var conference = conferenceContext.Conferences.First(c => c.Slug.Equals("sthlm-2023"));
}

<h1>Welcome to @conference.Name @conference.Start - @conference.End</h1>