@page

<section id="info" class="odd-section content-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="noSubtitle">Links to previously conferences</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>
                    Looking for information or sessions from previous conferences? All material is archived here:
                </p>
                <ul class="list-inline banner-buttons">
                    <li>
                        <a href="/swetugg-2015" class="btn btn-default btn-lg">Stockholm 2015</a>
                    </li>
                    <li>
                        <a href="/swetugg-2016" class="btn btn-default btn-lg">Stockholm 2016</a>
                    </li>
                    <li>
                        <a href="/swetugg-2017" class="btn btn-default btn-lg">Stockholm 2017</a>
                    </li>
                    <li>
                        <a href="/swetugg-2018" class="btn btn-default btn-lg">Stockholm 2018</a>
                    </li>
                    <li>
                        <a href="/swetugg-2019" class="btn btn-default btn-lg">Stockholm 2019</a>
                    </li>
                    <li>
                        <a href="/sthlm-2020" class="btn btn-default btn-lg">Stockholm 2020</a>
                    </li>
                    <li>
                        <a href="/gbg-2022" class="btn btn-default btn-lg">Göteborg 2022</a>
                    </li>
                    <li>
                        <a href="/sthlm-2023" class="btn btn-default btn-lg">Stockholm 2023</a>
                    </li>
                    <li>
                        <a href="/gbg-2023" class="btn btn-default btn-lg">Göteborg 2023</a>
                    </li>
                    <li>
                        <a href="/sthlm-2024" class="btn btn-default btn-lg">Stockholm 2024</a>
                    </li>
                    <li>
                        <a href="/gbg-2024" class="btn btn-default btn-lg">Göteborg 2024</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

