@page

<section id="info" class="odd-section content-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="noSubtitle">Sponsorship Stockholm 2025</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>
                    At Swetugg Stockholm we are excited to bring together around 500 developers.
                    This will be our 12th conference and as usually we are committed to providing great content delivered by awesome speakers.

                    Just like previous years, we will be organizing a comprehensive four-track conference spanning two days. 
                    The exhibit area is located in the middle of the conference area, ensuring great visibility for all.
                </p>
                <p>If you are interested in a sponshorship email us at <a
                        href="mailto:sponsors@swetugg.se">sponsors@swetugg.se</a>.</p>
                <p>
                <h2>Digital sponsor package, 6 000 SEK VAT exempt</h2>
                You will receive:
                <ul>
                    <li>Your logo on our home page, screens during the event, and in session videos we produce.</li>
                    <li>A 10% discount on tickets ordered before January 13th. On original prize, cannot be combined
                        with other offers</li>
                </ul>
                </p>
                <p>
                <h2>Exhibitor package, 30 000 SEK VAT exempt</h2>
                You will receive:
                <ul>
                    <li>Two entrance tickets for your exhibitor staff, which also grant access to sessions (Note:
                        Tickets are required for entry to the conference or exhibit area).</li>
                    <li>A 15% discount on additional tickets ordered before January 13th. On original prize, cannot be
                        combined with other offers</li>
                    <li>Space in the exhibit area, including one high table, one high chair, and an electrical outlet.</li>
                    <li>Booth Optimization Service to assist in creating an engaging booth.</li>
                    <li>Your logo on our home page, on screens during the event, and in session videos we produce.</li>
                </ul>
                </p>
                <p>Swetugg Events is a nonprofit organization, as such, we don't add VAT or other taxes.</p>
            </div>
        </div>
    </div>
</section>
