@page

<section id="info" class="odd-section content-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="noSubtitle">Sponsorship Göteborg 2023</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>Our goal is to gather at least 300 developers in Gothenburg once again and select the best content with awesome speakers for it as well.
                This year, we're expanding the conference to two days and introducing an additional track, creating a comprehensive two-day, three-track event.
                Just like last year, our evening party will be held in the sponsor booth area, providing a relaxed opportunity for you to network with the visitors.
                We have also extended the content of our packages to give you more value for your money.</p>
                <p>If you are interested in a sponshorship email us at <a href="mailto:sponsors@swetugg.se">sponsors@swetugg.se</a>.</p>
                <p>
                <h2>Digital sponsor package, 5 000 SEK VAT exempt</h2>
                    You will receive:
                    <ul>
                        <li>Your logo on our home page, screens during the event, and in session videos we produce.</li>
                        <li>A 10% discount on tickets ordered before September 25th. On original prize, cannot be combined with other offers</li>
                    </ul>
                </p>
                <p>
                <h2>Exhibitor package, 25 000 SEK VAT exempt</h2>
                    You will receive:
                    <ul>
                        <li>Two entrance tickets for your exhibitor staff, which also grant access to sessions (Note: Tickets are required for entry to the conference or exhibit area).</li>
                        <li>A 15% discount on additional tickets ordered before September 25th. On original prize, cannot be combined with other offers</li>
                        <li>Space in the exhibit area, including tables, chairs, and electrical outlets.</li>
                        <li>Booth Optimization Service to assist in creating an engaging booth.</li>
                        <li>Your logo on our home page, on screens during the event, and in session videos we produce.</li>
                    </ul>
                </p>
                <p>Swetugg Events is a nonprofit organization, as such, we don't add VAT or other taxes.</p>
            </div>
        </div>
    </div>
</section>

