@page
@{

}
<section>
    <div class="container">
        <div class="row">
            <img src="/logos/GreenForLightBackground.png" alt="Logo of Swetugg Göteborg" width="500" class="logo-image" />
        </div>
        <p />
        <div class="row">
            <p>
                We have set a date for Göteborg! 16-17 September 2024.
            </p>
            <p>

            </p>
            <p>
                Not everything is setup yet as you can see but the <a href="https://sessionize.com/swetugg-goteborg-2024" target="_blank">Call for Papers is now open</a>.
            </p>
            <p style="padding-top: 10px">
                We are going to sell tickets in June and we are finalizing the offers for sponsors.
            <p />
            <p>
                If you like to talk to us, here is our email addresses:
            </p>
            <p style="padding-top: 5px">
                <ul>
                    <li><a href="mailto:info@swetugg.se">general questions: info@swetugg.se</a>
                    <li><a href="mailto:speaker@swetugg.se">questions about speaking: speaker@swetugg.se</a>
                    <li><a href="mailto:sponsors@swetugg.se">questions about sponsoring: sponsors@swetugg.se</a>
                </ul>
            </p>
        </div>

        <div class="row">
            <p style="padding-top: 30px">
                Looking for information or sessions from previous years? All material is archived here:
            <p/>
            <p style ="padding-top: 5px">
                <ul>
                    <li>
                        <a href="/swetugg-2015">Stockholm 2015</a>
                    </li>
                    <li>
                        <a href="/swetugg-2016">Stockholm 2016</a>
                    </li>
                    <li>
                        <a href="/swetugg-2017">Stockholm 2017</a>
                    </li>
                    <li>
                        <a href="/swetugg-2018">Stockholm 2018</a>
                    </li>
                    <li>
                        <a href="/swetugg-2019">Stockholm 2019</a>
                    </li>
                    <li>
                        <a href="/sthlm-2020">Stockholm 2020</a>
                    </li>
                    <li>
                        <a href="/gbg-2022">Göteborg 2022</a>
                    </li>
                    <li>
                        <a href="/sthlm-2023">Stockholm 2023</a>
                    </li>
                    <li>
                        <a href="/gbg-2023">Göteborg 2023</a>
                    </li>
                    <li>
                        <a href="/sthml-2024">Stockholm 2024</a>
                    </li>
                </ul>
            </p>
        </div>
    </div>
</section>

